<template>
    <div>
        <div class="alert alert-success" v-if="saved">
            <strong>Success!</strong> Your signature has been saved successfully.
        </div>

        <div class="well well-sm" id="signature-form">
            <form class="form-horizontal" method="post" @submit.prevent="onSubmit"></form>
            <fieldset>
                <legend class="text-center">Sign the GuestBook</legend>

                <div class="form-group">
                    <label for="name" class="col-md-3 control-label">Name</label>
                    <div class="col-md-9" :class="{'has-eror': error.name}">
                        <input id="name"
                               v-model="signature.name"
                               type="text"
                               placeholder="Your name"
                               class="form-control">
                        <span v-if="errors.name" class="help-block text-danger">{{ errors.name[0] }}</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="" class="col-md-3 control-label">
                        Your E-mail
                    </label>
                    <div class="col-md-9" :class="{'has-error': errors.email}">
                        <input  id="email"
                                v-model="signature.email"
                                type="text"
                                placeholder="Your email"
                                class="form-control">
                        <span v-if="errors.email" class="help-block text-danger">{{ errors.email }}</span>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="body" class="col-md-3 control-label">Your message</label>
                    <div class="col-md-9" :class=""></div>
                </div>
            </fieldset>
        </div>
    </div>
</template>

<script>
    export default {
        // Our Javascript logic
    }
</script>